cloudflare-app[app="slack-thank-you"] button{
  background-color: inherit;
  height: 2em;
  width: 2em;
  padding: 0px;
  border: none;
}

cloudflare-app[app="slack-thank-you"] button div{
  background-image: url("https://blog.cloudflare.com/content/images/2018/02/KQZeT5R.png");
  background-size: contain;
  height: 2em;
}